# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Armas_Vampire_Survivors/enemy.cpp
Armas_Vampire_Survivors/enemy.h
Armas_Vampire_Survivors/game.h
Armas_Vampire_Survivors/.vscode/launch.json
Armas_Vampire_Survivors/.vscode/settings.json
Armas_Vampire_Survivors/.vscode/tasks.json
.vscode/tasks.json
